<%= title_page("Usuários") %>

<table border="0" class="show-info-users">
	<tr>
		<th>Login</th>
		<th>Endereço</th>
		<th>Cidade</th>
		<th>Estado</th>
		<th>E-mail</th>
	</tr>
	<tr>
		<td><%= @user.login %></td>
		<td><%= @user.andress %></td>
		<td><%= @user.city %></td>
		<td><%= @user.state %></td>
		<td><%= @user.email %></td>
	</tr>
</table>
