<%= title_page("Usuários") %>

<div class="title-users">
	Olá <i><%= @user.login %></i>
	<%= image_tag("arrow_down.png", :class => "arrow-down") %>
</div>

<br />

<div id="showUsers">

		<%= label_tag("Login") %>
		<%= @user.login %>
		
		<br />
		<%= label_tag("Endereço") %>
		<%=  @user.andress %>
		
		<br />
		<%= label_tag("Cidade") %>
		<%=  @user.city %>
		
		<br />
		<%= label_tag("Estado") %>
		<%=  @user.state %>
		
		<br />
		<%= label_tag("E-mail") %>
		<%=  @user.email %>
		
</div>


<br />

<% if current_user.name ==  @user.name %>
	<%= link_to_remote "Editar Informações", :url => "show_form_edit" %>	
<% else -%>
	<p style="color: #ccc; font-weight: bold">Editar Informações (Desabilitado) </p>
<% end -%>
<div id="show_form_edit" style="display:none">

	<%= render :partial => 'edit' %>
</div>
