<%= title_page("Home") %>
<% unless logged_in? -%>
	<%= render "/sessions/login" %>
<% else -%>
	<% if admin :content_method => :login %>
		
		<div id="lista-users">
			<div class="title-users">
				Usuários Cadastrados
				<%= image_tag("arrow_down.png", :class => "arrow-down") %>
			</div>
			
			<br />
			
			<% @users.each do |u| %>
				
					<% if current_user.name == u.name %>
					<% else -%>
					<div id="name-users">
						<%= link_to u.name, :controller => :users, :action => :show, :id => u.id %><br />
						<small>criado em <b><%= u.created_at.strftime("%d/%m/%Y") %></b></small>
					</div>
					<% end -%>
				
			<% end %>
			
		</div>
	
	<% else %>

		<div id="allSteps">
			<div id="step1">
				<p><%= image_tag("step1.jpg") %></p><br />
				<p>
					<%= image_tag("flecha_1.jpg") %>Exemplo uma conversa de chat, ou um livestream de feeds, ou até mesmo APIs públicas muito acessadas. O padrão de solução costuma ser um javascript que, em intervalos regulares, faz requisições Ajax a um servidor que retorna o conteúdo adicional a ser acrescentado na página.
					<br /><br />
					<%= link_to image_tag("comecar.jpg", :border => 0), :controller => "store", :action => "index" %>
				</p>
			</div>
			<div id="step2">
				<p><%= image_tag("step2.jpg") %></p><br />
				<p><%= image_tag("itens_2.jpg", :class => "itens_img") %>Exemplo uma conversa deesmcessadas. O padrão de solução costuma ser um javascript que, em intervalos regulares, faz requisições Ajax a um servidor que retorna o conteúdo adicional a ser acrescentado na página.</p>
			</div>
			<div id="step3">
				<p><%= image_tag("step3.jpg") %></p><br />
				<p><%= image_tag("finalize_3.jpg") %>Ajax a um servidor que retorna o conteúdo adicional a ser acrescentado na página.</p>
			</div>
		</div>





	<% end %>
<% end -%>
