<div class="tableNamesCategory" id="name_<%= dom_id(category) %>">


	<span id="showLoading<%= dom_id(category) %>" style="display: none;">
		<%= image_tag("loading.gif", :class=>"alignLoading") %>
	</span>
	<div id="<%= dom_id(category) %>" class="nameCategory">
		<%= link_to_remote image_tag("trash_small.png", :border	=> "0"), :url => category_path(category), 
				:confirm => 'Voce tem certeza que deseja deletar esse produto.',
				:loading => "$('#showLoading#{dom_id(category)}').show()",
				:method => :delete
		%>
		<%= category.name %>

		<span class="styleDate">
			<%= category.created_at.strftime("%d/%m/%Y") %>
		</span>

	</div>
</div>