<div id="cart">
	<b>Meus items</b><br />
	<b> Voce tem  <b id="total"><%= @cart.contar_total%></b> iten(s). </b>
	<small><%= link_to "Detalhes", :controller => :store, :action => :details%></small>
</div>
<br />
<% unless @products.size == 0  %>
	<% for product in @products %>
		<table border="1" cellspacing="0" cellpadding="5" class="grid">
			<tr>
				<th>Codigo</th>
				<th>Categoria</th>
				<th>Imagem</th>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Add Itens</th>
				<th>Add Caixa</th>
				<th>Remove Caixa</th>
			</tr>
			<tr>
				<td width='2%'><%= product.code %></td>
				<td width='2%'><%= product.category.name %></td>
				<td width='5%'><%= image_tag product.picture.url(:thumb) %></td>
				<td width='15%'><%= product.name %></td>
				<td width='57%'><%= product.ingredients %></td>
				<td>
					<div id="msg_error_<%= product.id  %>">
					</div>
					<% form_remote_for :quantidade,  :url => {:action => :add_to_cart, :id => product}, :html => {:id => "quantidade_form_#{product.id}"} do |f|  %>
							<%= text_field_tag :quantidade, nil, :class => "1", :size => 3  %>
							<%= submit_tag "Adicionar" %>
					<% end -%>
					<%= link_to_remote "Diminir Item",  :url => {:action => "remove_item_action", :id => product} %>
				</td>
						<td>
							<div id="msg_error_<%= product.id  %>">
							</div>
							<% form_remote_for :box, :url => {:action => :add_to_cart_box, :id => product} do |f|  %>
									<%= submit_tag "Add Caixa" %>
							<% end -%>
						</td>
				<td>
					<% form_remote_tag :url => {:action => :remove_product, :id => product} do %>
						<%= image_submit_tag("remove.png")%>
					<% end -%>
				</td>
			</tr>
	<% end -%>
	    </table>
<% else %>
	<h1>Nenhum Produto cadastrado ainda.</h1>
<% end %>

<br />
<div id="ButtonEnd">
	<% if @cart.contar_total > 0 %>
		<%= render "botao"%>
	<% end -%>
</div>